:root{
    --vse-blue: #009de0;
    --main-z: 90;
}

#cp-closer{
    width: 60px;
    height: 60px;
    float:right;
    background: var(--vse-blue);
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    color: white;
}

#cp-opener{
    width: 60px;
    height: 60px;
    position: fixed;
    background: var(--vse-blue);
    bottom: 0;
    right: 50px;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    color: white;
}
#cp-wrapper.closed{
    display: none;
}

#cp-wrapper{
    width: 400px;
    height: 250px;
    background: var(--vse-blue);
    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: var(--main-z);
}